header.header {
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: #fffefe;
    border: 1px solid #dadbda;
    grid-area: header;
}

.header__icons{
    font-size: 30px;
    margin-right: 30px;
}

.header__notifications {
    position: absolute;
    top: 30px;

    color: white;
    background-color: #fe004f;
    font-size: 10px;
}

.red {
    color: red;
}
