div.content {
    background-color: #fafafa;
    
    display: flex;
    justify-content: center;
    grid-area: content;
}

.icons {
    margin-right: 30px;
}

.post {
    height: 550px;
    width: 550px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    background-color: #fffefe;
}

.icon {
    width: 50px;
    height: 50px;

    border: 2px solid black;
    border-radius: 100%;
}

.up {
    display: flex;
    align-items: center;

    width: 400px;
    height: 50px;
}

.image {
    width: 400px;
    height: 400px;

    border: 2px solid black;
}

.buttons {
    width: 400px;
    height: 30px;

    border: 2px solid black;
}